[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "~=3.11.0"
pillow = "*"
packages = "*"
dj-rest-auth = "==1.1.0"
django-allauth = "~=0.42.0"
pyyaml = "==5.3.1"
uritemplate = "==3.0.1"
drf-yasg = "==1.17.1"
djangorestframework-jwt = "*"
django-cors-headers = "*"

[requires]
python_version = "3.8"
